@{
    ViewData["Title"] = "Home Page";
}


</nav>
<div class="text-center">
    <br/>
    <br/>

    <h1 class="display-4">Welcome to your Gym Tracker</h1>

    <br/>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="btn btn-info" asp-area="" asp-controller="Workout" asp-action="Create"> Create Workout</a>
                <a class="btn btn-info" asp-area="" asp-controller="Workout" asp-action="Index"> View Workouts</a>
   
                @*<a class="btn btn-info" asp-area="" asp-controller="EventTypes" asp-action="Index">View all Events</a>
        <a class="btn btn-info" asp-area="" asp-controller="EventTypes" asp-action="Create">Create EventType</a>*@


                <br />
                <br />
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://clipartsworld.com/images/clip-art-of-lifting-weights-13.jpg">
                                <img src="https://clipartsworld.com/images/clip-art-of-lifting-weights-13.jpg" alt="Lifting weights" style="width:100%">
                            </a>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://yourgymguides.com/wp-content/uploads/2019/02/sport-inspiring-workout-and-fitness-gym-motivation-vector-20914855.jpg">
                                <img src="https://yourgymguides.com/wp-content/uploads/2019/02/sport-inspiring-workout-and-fitness-gym-motivation-vector-20914855.jpg" alt="Motivational quote" style="width:100%">

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://th.bing.com/th/id/OIP.ceyyThEpLDiTRg9d6XvtugHaFL?w=270&h=191&c=7&o=5&dpr=1.5&pid=1.7">
                                <img src="https://th.bing.com/th/id/OIP.ceyyThEpLDiTRg9d6XvtugHaFL?w=270&h=191&c=7&o=5&dpr=1.5&pid=1.7" alt="Lifting weights" style="width:100%">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
